{% load remote %}

        {% for doc in article.attachments.all %}

        <div class="attachment">

            <span>Document à télécharger : </span>
            <a href="{{ doc.file.url }}">
                {% if not doc.title %}{{ doc.name }}{% else %}{{ doc.title }}{% endif %}
            </a>
        </div>


        {% endfor %}

        {% for link in article.external_links.all %}

        <div class="external_link">

            <span>Lien Internet : </span>
            <a href="{{ link.object_uri }}">
                {% if not link.object_label %}{{ link.object_uri }}{% else %}{{ link.object_label }}{% endif %}
            </a>
        </div>


        {% endfor %}



            <dl class="attr_table">

                {% if article.dated.all %}
                    {% for dated in article.dated.all %}
                        <div class="metadata"><div class="key">Date{{ dated.event.occurrence_set.all|pluralize }} agenda</div>
                        <div class="value"><div>{% for o in dated.event.occurrence_set.all %}
                            {{ o.start_time|date:"j F Y, \d\e H\hi" }} à {{ o.end_time|date:"H\hi" }}<br>
                            {% endfor %}
                            </div>
                        </div></div>
                    {% endfor %}
                    
                    <br>
                {% endif %}

                {% if article.display_dates %}

                <div class="metadata"><div class="key">Date de publication</div>
                <div class="value">{{ article.created|date:"j F Y" }}</div></div>

                <div class="metadata"><div class="key">Dernière mise à jour</div>
                <div class="value">{{ article.modified|date:"j F Y" }}</div></div>

                {% endif %}

                {% if article.person or article.remote_person_label %}
                    <div class="metadata"><div class="key">Auteur</div>
                    {% local_or_remote uri article person as author_uri %}
                    {% local_or_remote label article person as author_label %}
                    <div class="value">{% if author_uri %}<a href="{{author_uri}}">{% endif %}
                        {{ author_label }}
                        {% if author_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if article.organization or article.remote_organization_label %}
                    <div class="metadata"><div class="key">Structure</div>
                    {% local_or_remote uri article organization as org_uri %}
                    {% local_or_remote label article organization as org_label %}
                    <div class="value">{% if org_uri %}<a href="{{org_uri}}">{% endif %}
                        {{ org_label }}
                        {% if org_uri %}</a>{% endif %}</div></div>
                {% endif %}

                {% if article.tags.all %}
                    <div class="metadata"><div class="key">Mots-clés</div>
                    <div class="value">{% for tag in article.tags.all %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}</div></div>
                {% endif %}

            </dl>