{% load i18n %}
{% load mkrange %}
<style type="text/css">
    #{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; border:1px solid #AAA}
    #{{ attrs.id }}_map .aligned label { float: inherit; }
    #{{ attrs.id }}_span_control, #{{ attrs.id }}_span_map { margin-right:1em;position: relative; vertical-align: top; float: left; }
    #{{ attrs.id }}_span_control {width:400px; height:420px;}
    {% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
    .olControlEditingToolbar .olControlModifyFeatureItemActive {
        background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_on.png");
        background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive {
        background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_off.png");
        background-repeat: no-repeat;
    }
    .address_results{
        padding:1em;
        margin:1em;
    }
    .address_results ul#{{attrs.id}}_results{
        margin:0;
        border:1px solid #AAA;
        background-color:#EEE;
        height:180px;
        overflow:auto;
    } 
    .module .area_tree ul,.module .area_tree li{
        margin:0;
        padding:0;
    }
    .module .area_tree ul{
        margin-left:1em;
    }
    .module .area_tree ul a.selected{
        color:#00C;
    }
    form .aligned #{{ attrs.id }}_address_tab p{
        padding:2px 0;
        margin:0;
    }
    .add-another-link, .add-another-link:hover,
    .add-another-link:link, .add-another-link:visited{
        width:100%;
        text-align:center;
        background-color:#5b80b2;
        color:#FFF;
        display:block;
    }
    .add-another-link:hover{
        background-color:#003366;
    }
</style>
<div id='editing'></div>
<span id="{{ attrs.id }}_span_control">
    <div id='{{ attrs.id }}_address_tab'>
      <p><strong>{%trans "Current location:"%}</strong> <span id='location_label'>{{location}}</span></p>
      <p><strong>{%trans "Choose another location:"%}</strong></p>
        <div>
            <label>{% trans "Address"%}</label>
            <textarea id='{{attrs.id}}_address'></textarea>
        </div>
        <div>
            <label class='required'>{% trans "Town"%}</label>
            <textarea id='{{attrs.id}}_town'></textarea>
        </div>
        <button id="{{attrs.id}}_address_submit" onclick='return false'>{% trans "Search" %}</button>
        <div id='{{attrs.id}}_address_results' class='address_results' style='display:none'>
          <strong>{%trans "Click on the choosen location:"%}</strong>
          <ul id='{{attrs.id}}_results'>
          </ul>
          <p><a href="{% url admin:coop_geo_location_add %}" class="add-another-link" id="add_id_location" onclick="return showAddAnotherPopup(this);">{% trans "Add another location" %}</a></p>
        </div>
    </div>
</span>
<script type="text/javascript">
var {{attrs.id}}_locations = new Array();
var {{attrs.id}}_location_ids = new Array();
{%for location in locations%}{{attrs.id}}_locations[{{forloop.counter0}}]="{{location.point.wkt}}";
{{attrs.id}}_location_ids[{{forloop.counter0}}]="{{location.pk}}";
{% endfor %}
</script>
<span id="{{ attrs.id }}_span_map">
    <div id="{{ attrs.id }}_map"></div>
    {% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
    {% include "floppyforms/textarea.html" %}
</span>
<input type='hidden' name='{{attrs.id}}_wkt' id='{{attrs.id}}_wkt' value='{{attrs.value}}'/>
<script type="text/javascript">
    {% block map_options %}var map_options = {};{% endblock %}
    {% block options %}var options = {
        geom_type: OpenLayers.Geometry.{{ geom_type }},
        id: '{{ attrs.id }}',
        is_collection: {{ is_collection|yesno:"true,false" }},
        is_linestring: {{ is_linestring|yesno:"true,false" }},
        is_point: {{ is_point|yesno:"true,false" }},
        is_polygon: {{ is_polygon|yesno:"true,false" }},
        map_id: '{{ attrs.id }}_map',
        map_options: map_options,
        map_srid: {{ map_srid }},
        name: '{{ name }}',
        point_zoom: {{point_zoom}}
    };{% endblock %}
    var {{ module }} = new MapWidget(options);
    {{module}}.disableDrawing();
    {{module}}.panel.destroy();
    var {{attrs.id}}_results = new Array();
    wkt_parser = new OpenLayers.Format.WKT();
    function put_{{attrs.id}}_wkt(){
        var wkt = jQuery("#{{attrs.id}}_wkt").val();
        if (!wkt) return;
        var feat = OpenLayers.Util.properFeatures(
            {{ module }}.read_wkt(wkt),
            {{ module }}.options.geom_type);
        {% if map_srid != '4326' %}
        feat = new OpenLayers.Feature.Vector(
                    feat.geometry.transform(
                              new OpenLayers.Projection('EPSG:4326'),
                              new OpenLayers.Projection('EPSG:{{map_srid}}')));
        {% endif %}
        {{ module }}.layers.vector.addFeatures([feat]);
        {{ module }}.write_wkt(feat);
        {{ module }}.map.zoomToExtent(feat.geometry.getBounds());
        {{ module }}.map.zoomTo({{ module }}.options.point_zoom);
    }
    function put_{{attrs.id}}(parent_item, wkt, pk){
        jQuery("#{{attrs.id}}_wkt").val(wkt);
        put_{{attrs.id}}_wkt();
        jQuery("#{{attrs.id}}").val(pk);
        jQuery(jQuery("#location_label").html(jQuery(parent_item).html()));
    }
    jQuery(function(){
        put_{{attrs.id}}_wkt();
    });

    jQuery("#{{attrs.id}}_address_submit").click(
        function(){
            var town = encodeURI(jQuery("#{{attrs.id}}_town").val());
            if(!town){
                alert("{%trans "You must at least precise the town."%}")
                return false;
            }
            var address = encodeURI(jQuery("#{{attrs.id}}_address").val());
            function display_results(results, status){
                if (status != "success") {
                    return false;
                }
                jQuery("#{{attrs.id}}_address_results").show();
                var content = "";
                {{attrs.id}}_results = new Array();
                jQuery.each(results, function(index, location){
                    if (location.fields.point){
                        content += "<li><a href='javascript:return false;' onclick='";
                        content += "put_{{attrs.id}}(this, \""+ location.fields.point;
                        content += "\", "+ location.pk +");'>" + location.fields.label;
                        content += " (" + location.fields.city;
                        if(location.fields.adr1) content += ', ' + location.fields.adr1;
                        if(location.fields.adr2) content += ' - ' + location.fields.adr2;
                        content += ")</a></li>\n";
                        {{attrs.id}}_results[index] = location.pk;
                    }
                });
                jQuery("#{{attrs.id}}_results").html(content);
                return false;
            }
            url = '/location/json/' + town + '/';
            if(address){
                url += address;
            }
            jQuery.getJSON(url, display_results);
    });
</script>
