{% load i18n %}
{% load mkrange %}
<style type="text/css">
    #{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; border:1px solid #AAA}
    #{{ attrs.id }}_map .aligned label { float: inherit; }
    #{{ attrs.id }}_span_control, #{{ attrs.id }}_span_map { margin-right:1em;position: relative; vertical-align: top; float: left; }
    #{{ attrs.id }}_span_control {width:400px; height:{{map_height}}px;}
    {% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
    .olControlEditingToolbar .olControlModifyFeatureItemActive {
        background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_on.png");
        background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive {
        background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_off.png");
        background-repeat: no-repeat;
    }
    .address_results{
        padding:1em;
        margin:1em;
        border:1px solid #AAA;
        background-color:#EEE;
    }
    .address_results ul#{{attrs.id}}_results{
        margin:0;
    } 
    .module .area_tree ul,.module .area_tree li{
        margin:0;
        padding:0;
    }
    .module .area_tree ul{
        margin-left:1em;
    }
    .module .area_tree ul a.selected{
        color:#00C;
    }
    .form-row.area{
        display:none;
    }
</style>
<div id='editing'></div>
<span id="{{ attrs.id }}_span_control">
    <ul>
        <li><a href='#{{ attrs.id }}_address_tab'>{% trans "Location"%}</a></li>
        {% if areas %}<li><a href='#{{ attrs.id }}_area_tab'>{% trans "Areas"%}</a></li>{% endif %}
    </ul>
    <div id='{{ attrs.id }}_address_tab'>
        <button id="{{attrs.id}}_address_submit" onclick='return false'>{% trans "Search by address" %}</button>
        <div id='{{attrs.id}}_address_results' class='address_results' style='display:none'>
          <strong>{%trans "Click on the choosen location:"%}</strong>
          <ul id='{{attrs.id}}_results'>
          </ul>
        </div>
    </div>
    {% if areas %}
    <div id='{{ attrs.id }}_area_tab' class='area_tree'>
        {{rendered_areas}}
<script type="text/javascript">
var {{attrs.id}}_areas = new Array();
var {{attrs.id}}_area_ids = new Array();
{%for area in areas%}{{attrs.id}}_areas[{{forloop.counter0}}]="{{area.polygon.wkt}}";
{{attrs.id}}_area_ids[{{forloop.counter0}}]="{{area.pk}}";
{% endfor %}
</script>
        <ul id="{{attrs.id}}_area_a">{%for area in areas%}

        <li><a id="{{attrs.id}}_area_a_{{forloop.counter0}}" href='javascript:put_{{attrs.id}}({{forloop.counter0}}, false);'>{{area}}</a></li>
        {% if area.leaf %}<ul>{% endif %}
        {% if area.end_leaf%}
        {% mkrange area.end_leaf as leaf_range %}
        {% for idx in leaf_range %}</ul>{% endfor %}
        {% endif %}
        {%endfor%}</ul>
    </div>
    {%else%}
<script type="text/javascript">
var {{attrs.id}}_areas = new Array();
</script>
    {% endif %}
</span>
<span id="{{ attrs.id }}_span_map">
    <div id="{{ attrs.id }}_map"></div>
    {% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
    {% include "floppyforms/textarea.html" %}
</span>
<script type="text/javascript">
    {% block map_options %}var map_options = {};{% endblock %}
    {% block options %}var options = {
        geom_type: OpenLayers.Geometry.{{ geom_type }},
        id: '{{ attrs.id }}',
        is_collection: {{ is_collection|yesno:"true,false" }},
        is_linestring: {{ is_linestring|yesno:"true,false" }},
        is_point: {{ is_point|yesno:"true,false" }},
        is_polygon: {{ is_polygon|yesno:"true,false" }},
        map_id: '{{ attrs.id }}_map',
        map_options: map_options,
        map_srid: {{ map_srid }},
        name: '{{ name }}',
        point_zoom: {{point_zoom}}
    };{% endblock %}
    var {{ module }} = new MapWidget(options);
    var {{attrs.id}}_results = new Array();
    wkt_parser = new OpenLayers.Format.WKT();
    var {{attrs.id}}_area_id = {{module}}.options.id.replace('point', 'area');
    /* initialize area */
    jQuery(function() {
        var area_value = document.getElementById({{attrs.id}}_area_id).value;
        if (area_value){
            for (idx in {{attrs.id}}_area_ids){
                if ({{attrs.id}}_area_ids[idx] == area_value){
                    put_{{attrs.id}}(idx, false);
                }
            }
            jQuery('#{{attrs.id}}_span_control').tabs('select', 1);
        }
    });
    function put_{{attrs.id}}(index, point){
        var res = {{attrs.id}}_areas;
        if (point) res = {{attrs.id}}_results;
        var feat = OpenLayers.Util.properFeatures(
            {{ module }}.read_wkt(res[index]),
            {{ module }}.options.geom_type);
        {% if map_srid != '4326' %}
        feat = new OpenLayers.Feature.Vector(
                    feat.geometry.transform(
                              new OpenLayers.Projection('EPSG:4326'),
                              new OpenLayers.Projection('EPSG:{{map_srid}}')));
        {% endif %}
        {{ module }}.layers.vector.addFeatures([feat]);
        if(point){
            {{ module }}.write_wkt(feat);
            jQuery("#{{attrs.id}}_area_a a").removeClass('selected');
            document.getElementById({{attrs.id}}_area_id).value = '';
        } else {
            var lnk = '#{{attrs.id}}_area_a_' + index;
            jQuery("#{{attrs.id}}_area_a a").removeClass('selected');
            jQuery(lnk).addClass('selected');
            document.getElementById({{attrs.id}}_area_id).value = {{attrs.id}}_area_ids[index];
            document.getElementById({{module}}.options.id).value = '';
        }
        {{ module }}.map.zoomToExtent(feat.geometry.getBounds());
        if(point) {{ module }}.map.zoomTo({{ module }}.options.point_zoom);
    }
    jQuery("#{{attrs.id}}_address_submit").click(
        function(){
            var town = jQuery("#id_city").val();
            if(!town){
                alert("{%trans "You must at least precise the town."%}")
                return false;
            }
            var address = jQuery("#id_adr1").val();
            if(address){
                address = town + ", " + address;
            } else {
                address = town;
            }
            function display_results(results, status){
                if (!status == google.maps.GeocoderStatus.OK) {
                    return false;
                }
                jQuery("#{{attrs.id}}_address_results").show();
                var content = "";
                {{attrs.id}}_results = new Array();
                jQuery.each(results, function(index, location){
                    var lat = location.geometry.location.lat();
                    var lon = location.geometry.location.lng();
                    content += "<li><a href='javascript:";
                    content += "put_{{attrs.id}}("+ index;
                    content += ", true);'>" + location.formatted_address;
                    content += "</a></li>\n";
                    {{attrs.id}}_results[index] = 'POINT ('+lon+' '+lat+')';
                });
                jQuery("#{{attrs.id}}_results").html(content);
                return false;
            }
            var geocoder = new google.maps.Geocoder();
            if(geocoder && address){
                geocoder.geocode(
                    {'address':address, 'region':'{{geocode_region}}'},
                    display_results);
            };
    });
    jQuery("#{{ attrs.id }}_span_control").tabs();
    jQuery('#{{attrs.id}}_span_control').bind('tabsselect', function(event, ui){
        if(ui.panel.id == '{{attrs.id}}_area_tab'){
            {{module}}.disableDrawing();
        }
        if(ui.panel.id == '{{attrs.id}}_address_tab'){
            {{module}}.enableDrawing();
        }
    });
</script>
