recursive-include coop/templates *
recursive-include coop/static *
recursive-include coop/bin *.sh
recursive-include coop/exchange/locale *.mo *.po
recursive-include coop/link/locale *.mo *.po
recursive-include coop/ui/locale *.mo *.po
recursive-include coop/tag/locale *.mo *.po
recursive-include coop/person/locale *.mo *.po
recursive-include coop/org/locale *.mo *.po
recursive-include coop/mailing/locale *.mo *.po
recursive-include coop/agenda/locale *.mo *.po
recursive-include coop/prefs/locale *.mo *.po
recursive-include coop/fabfile/fab_templates *
