recursive-include coop/templates *.html
recursive-include coop/static *.js *.css *.png *.jpg *.gif
recursive-include coop/exchange/locale *.mo *.po
recursive-include coop/link/locale *.mo *.po
recursive-include coop/org/locale *.mo *.po
recursive-include coop/person/locale *.mo *.po
