git+git://github.com/twidi/django-extended-choices.git#egg=extended_choices
git+git://github.com/quinode/django-chosen.git#egg=chosen
hg+https://bitbucket.org/ubernostrum/django-profiles#egg=profiles
