{% extends "base.html" %}

{% block meta_title %}{{object.title}}{% endblock %}



{% block title %}<h3>{{object.title}}</h3>{% endblock %}


{% block content %}

    <div id="content" class="grid_8 grid">
    
        <p>{{object.description}}</p>
    
        <br/>
    
        <h4>Membres</h4>
        <ul>
            {% for engagement in engagements %}
                <li><a href="{{engagement.membre.get_absolute_url}}">{{ engagement.membre }}</a>, {{engagement.role}}</li>
            {% endfor %}
        </ul>
    
        <br/>
    
        <h4>Relations</h4>
    </div>
    
    <div id="grid-right" class="grid_4 grid">
       
       {% for adresse in adresses %}     
       
            {{adresse.adr1}}<br/>
            {% if adresse.adr2 != '' %}{{adresse.adr2}}<br/>{% endif %}
            {{adresse.zipcode}} {{adresse.city}}<br/><br/>
            
       {% endfor %}   

    </div>
    
    
{% endblock %}