
{% load thumbnail %}
{% load i18n %}
{% for item in newsletter.articles.all %}
    <div class="newsletter-item">
        {% if item.logo %}
            {% thumbnail item.logo "80x80" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
             {% endthumbnail %}
        {% endif %}
        <div class="item-content">
            <h3>{{item.title}}</h3>
            <div class="summary">
                {{item.summary}}
                <a class="read-more" href="{{item.get_absolute_url}}">{% trans "Read more"%}</a>
            </div>
        </div>
    </div>
{% endfor %}