/* @override 
	http://dev.quinode.fr:8000/static/css/style.css
	http://localhost:8000/static/css/style.css
*/

body {
	background-color: #c5d3da;
	font-family: Nobile, Lucida, Verdana, sans-serif;
}

header{
	background-color: white;
	height: 80px;

}

div#main{
	border-top-style: none;
	border-bottom-style: none;
	background-color: white;
	padding-bottom: 20px;
}

span.unicon{
	font-size: 1.8em;
	display: inline-block;
	margin-top: -0.2em;
	height: 1em;
	margin-right: 0.2em;
	position: relative;
	top: 0.1em;
}


#content{
	padding-bottom: 20px;
	padding-top: 20px;
	min-height: 400px;
}

p{
	margin-bottom: 1em;
}

table td{
	border-collapse: collapse;
	border: 1px solid silver;
}

h1,h2,h3,h4,h5,h6, nav{
	font-family: "PT Sans Narrow", "Trebuchet MS", Trebuchet, Tahoma, Arial;
}

h1{
	font-size: 3.5em;
	padding-top: 10px;
	padding-left: 20px;
}


header h1 a, header h1 a:visited{
	color: #6c6c6c;
	text-decoration: none;
}

header h1 a:active{
	background-color: white;
}

h2{
	font-size: 2.7em;
}

h3{
	font-size: 2.3em;
	padding-top: 10px;
	margin-bottom: 10px;
}

h4{
	font-size: 1.6em;
}

#content{
	font-size: 1.1em;
}

#tags a{
	font-size: 14px;
	display: inline-block;
	border: 1px solid #8fc6db;
	background-color: #daf2f4;
	margin-top: 4px;
	padding: 4px;
	font-style: italic;
	
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #FFFFFF;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#A8D7E1));
background: -webkit-linear-gradient(#FFFFFF, #A8D7E1);
background: -moz-linear-gradient(#FFFFFF, #A8D7E1);
background: -ms-linear-gradient(#FFFFFF, #A8D7E1);
background: -o-linear-gradient(#FFFFFF, #A8D7E1);
background: linear-gradient(#FFFFFF, #A8D7E1);
	text-decoration: none;
	color: #1d1e1e;
}

#tags a:hover{
	
	background: #FDFCF7;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDFCF7), to(#F0DA2D));
background: -webkit-linear-gradient(#FDFCF7, #F0DA2D);
background: -moz-linear-gradient(#FDFCF7, #F0DA2D);
background: -ms-linear-gradient(#FDFCF7, #F0DA2D);
background: -o-linear-gradient(#FDFCF7, #F0DA2D);
background: linear-gradient(#FDFCF7, #F0DA2D);
	border-color: #fff6ca;
	color: black;
}


/* @group Basic CSS Menu */

/* 
http://www.htmldog.com/articles/suckerfish/dropdowns/
Laisser tranquille , surclasser ailleurs 
*/

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

#nav a {
	display: block;
	width: 12em;
}

#nav li {
	float: left;
	width: 12em;
}

#nav li ul {
	position: absolute;
	width: 12em;
	left: -999em;
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

/* Mulit-level*/

#nav li ul ul {
	margin: -1em 0 0 12em;
}


#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
}


#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}


#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}


/* @end */

/* @group Personnalisation Menu CSS */


#nav {
	background-color: #f5524a;
	border: 1px solid #bc717f;
	width: 100%;
	height: 3.2em;
	background-color: #f7797c;
	border-right-style: none;
	border-left-style: none;
}

#nav li a{
	position: relative;
	text-decoration: none;
	color: #feffff;
	padding-left: 0.5em;
	font-weight: bold;
	font-size: 1.6em;
}

#nav, #nav ul {
	padding: 0;
	line-height: 2;
}

#nav li ul ul {
	margin: -2.4em 0 0 12em;
}

#nav > li {
	height: 100%;
	border-right: 1px solid #d3604c;
}

#nav ul{
	background-color: #d1453e;
	border: 1px solid #cd887f;
	border-top-style: none;
}

#nav ul > li a{
	font-size: 1.2em;
}

#nav ul ul > li a{
	font-size: 1.1em;
}


#nav li ul li:hover{
	background-color: #7e5245;
}


/* @end */





/* @group hCard */

div.vcard {
	width: 300px;
	padding: 30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebd8a0));
	background: -moz-linear-gradient(top,  #fff,  #ebd8a0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ebd8a0');
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	box-shadow: 1px 2px 5px #333;
	-moz-box-shadow: 1px 2px 5px #333;
	-webkit-box-shadow: 1px 2px 5px #333;
	margin-top: 20px;
}

div.vcard abbr {
	font-size: 12px;
	color: #4f4f4f;
	margin-left: 3px;
	margin-right: 3px;
}

.vcard .fn.n {
	font-weight: bold;
	font-size: 1.2em;
}

.vcard a {
	display: inline-block;
	text-decoration: none;
	color: #141ea2;
}

.vcard .tel, 
.vcard .adr, 
.vcard .email {
	margin-top: 10px;
}


#mod_profil_link{
	margin-top: 20px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: right;
}

.client #id_adresse{
	width: 250px;
	font-size: 14px;
	height: 80px;
}

/* @end */

/* @group footer */

footer {
	
	background: white url(../img/ombre.png) repeat-x;
	border-top: 1px solid #bababa;
}

footer div{
	text-align: right;
	padding: 10px;
}

footer ul {
	margin: 0 30px;
}

footer ul ul {
	margin: 0;
}

footer li {
	float: left;
}

footer li li {
	width: 100px;
	clear: both;
	margin: 5px;
	border: 1px solid #333;
	background: #555;
	padding: 5px 10px;
	border-right: 0;
	border-bottom: 0;
}

footer a {
	color: #eee;
	text-decoration: none;
}



/* @end */

/* @group form */

form.form {
	width: 90%;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	padding: 20px;
	border: 3px solid #c5c5c5;
}

form.form label {
	width: 200px;
	vertical-align: middle;
}

form.form input {
	width: 300px;
	padding: 4px;
	font-size: 16px;
	vertical-align: middle;
}

form.form select {
	font-size: 16px;
}

form.form textarea {
	font-size: 14px;
	line-height: 1.2em;
}

.form {
	background: #eee;
	border-bottom: 1px solid #ccc;
	float: left;
}

.form li ul,
.form li li {
	display: inline;
}

.form li label {
	width: 30%;
	float: left;
}

.form li li label {
	width: auto;
	float: none;
	cursor: pointer;
}

/* @end */

/* @group login */

#search ul {
	padding-left: 0;
}

div.login_warning {
	background: url(/site_media/img/cross.png) no-repeat 10px 25px;
	font-weight: bold;
	font-size: 15px;
	padding: 20px 20px 0 60px;
	color: #920000;
	line-height: 18px;
}

div.login_warning ul {
	list-style-type: none;
	margin-top: 20px;
}

div.login_warning li {
	vertical-align: middle;
	font-weight: bold;
	display: block;
	width: 450px;
	margin-bottom: 10px;
	height: 30px;
}

div.login_warning li img {
	position: relative;
	float: left;
	top: -5px;
	margin-right: 10px;
}

fieldset.client label {
	width: 200px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
}


.client input[type=text],
.client input[type=password] {
	height: 25px;
	vertical-align: middle;
	font-size: 14px;
	width: 250px;
	padding: 4px;
}

/* @end */




p.statut{
	font-weight: bold;
	color: #929292;
}

ul.membres{
	padding-left: 5px;
}

ul.membres li{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	border: 1px solid #dadada;
	height: 48px;
	position: relative;
	padding: 5px;
	margin-bottom: 7px;
}

ul.membres li p{
	padding-left: 60px;
	position: relative;
	margin-top: 8px;
	font-size: 0.9em;
}

ul.membres li img{
	float: left;
}

ul.membres li a{
	text-decoration: none;
}

a.role{
	color: #555;
}

a.role:hover{
	color: #265aff;
}
