{% load i18n %}
<script type="text/javascript">
var admin_hideMessage = function ()  {
    $('#admin-status').hide();
    $(".error-field").removeClass("error-field");
};

var admin_printMessage = function (message, css_class) {
    $('#admin-status').removeClass().html(message).addClass(css_class).show();
    setTimeout(admin_hideMessage, 3000);
};

</script>
{% if user.is_authenticated %}
	<div id="admin-bar">
		<a id="adminbar_admin" href="{% url admin:index %}"><span class="unicon">⚒</span>{% trans 'Admin' %}</a>
		{% if editable %}
			{% if edit_mode %}
			<a id="adminbar_cancel" href="{{request.path}}?mode=view"><span class="unicon">x</span>{% trans 'Cancel' %}</a>
			<a id="adminbar_save" href=""><span class="unicon">v</span>{% trans 'Save' %}</a>
			{% else %}
			<a id="adminbar_edit" href="{{request.path}}?mode=edit"><span class="unicon">✍</span>{% trans 'Edit' %}</a>
			{% endif %}
		{% endif %}
		{% if edit_mode %}
		<a id="adminbar_medialibrary" href="{% url media_library %}"><span class="unicon">m</span>{% trans "Media library" %}</a>
		{% endif %}
		<div id="admin-status"></div>
	</div>
{% endif %}
