{% load i18n %}
<script type="text/javascript">
var admin_hideMessage = function ()  {
    $('#admin-status').hide();
    $(".error-field").removeClass("error-field");
};

var admin_printMessage = function (message, css_class) {
    $('#admin-status').removeClass().html(message).addClass(css_class).show();
    setTimeout(admin_hideMessage, 3000);
};
</script>
{% if user.is_authenticated %}
	<div id="admin-bar">
		<a href="{% url admin:index %}"><span class="unicon">⚒</span>Administration</a>
		{% if editable %}
			{% if edit_mode %}
			<a href="{{object.get_absolute_url}}?mode=view"><span class="unicon">🌏</span>Visualiser</a>
			{% else %}
			<a href="{{object.get_absolute_url}}?mode=edit"><span class="unicon">✍</span>Modifier la page</a>
			{% endif %}
		{% endif %}
		<a href="{% url media_library %}" id="media-library"><span class="unicon">⚒</span>{% trans "Media library" %}</a>
		<div id="admin-status"></div>
	</div>
{% endif %}
