{% extends 'base.html' %}

{% block meta_title %} Search {% endblock %}
  

{% block document %}


    {% block content %}

    <form method="get" action=".">
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    {% if query %}

    <div>
            {% if org %}
            <div>
                <h3> Structures </h3>
                <ul>
                {% for result in org %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if exchange %}
            <div>
                <h3> Annonces </h3>
                <ul>
                {% for result in exchange %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

           
            {% if event %}
            <div>
                <h3> Evénements </h3>
                <ul>
                {% for result in event %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if article %}
            <div>
                <h3> News </h3>
                <ul>
                {% for result in article %}
                    <li> {{ result.rendered|safe }} </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


    </div>
    {% endif %}


    {% endblock %}

{% endblock %}
