{% load i18n %}
{% if user.is_authenticated %}
	<div id="admin-bar">
		{% if user.is_staff %}
		<a id="adminbar_admin" href="{% url admin:index %}"><span class="unicon">⚒</span>{% trans 'Admin' %}</a>
		{% endif %}
		{% if editable and perms.coop_cms.can_change_article %}
			{% if edit_mode %}
			<a id="adminbar_cancel" href=""><span class="unicon"></span>{% trans 'Cancel' %}</a>
			<a id="adminbar_save" href=""><span class="unicon"></span>{% trans 'Save' %}</a>
			{% else %}
			<a id="adminbar_edit" href=""><span class="unicon">✍</span>{% if draft %}{% trans "Edit draft" %}{% else %}{% trans 'Edit' %}{% endif %}</a>
			{% endif %}
		{% endif %}
		{% if edit_mode and draft %}
			<a id="adminbar_publish" href=""><span class="unicon"></span>{% trans 'Publish' %}</a>
		{% endif %}
		{% if edit_mode %}
		<a id="adminbar_medialibrary" href="{% url coop_cms_media_library %}"><span class="unicon"></span>{% trans "Media library" %}</a>
		{% endif %}
	</div>
{% endif %}
