{% extends "base.html" %}
{% load i18n djaloha_utils %}
{% block meta_title %}{% if draft %}{% trans "Draft" %} - {% endif %}{{article.title|remove_br}}{% endblock %}
{% block extra_head %}
{% if editable and perms.coop_cms.can_change_article %}
<script>
$(function(){
    $('#adminbar_edit').attr('href', '{{article.get_edit_url}}');
});
</script>
{% endif %}
{% endblock %}

{% block document %}
{% spaceless %}
<div class="grid_12 grid">
{% block title %}
    <h2 id="title">{{article.title|safe}}</h2>
{% endblock %}
    <div id="content"><div>
    {{article.content|safe}}
    </div></div>
</div>
{% endspaceless %}
{% endblock %}
