{% load i18n thumbnail %}
<style>
.library .library-items {
}
.library img {
    display: block;
    padding-bottom: 20px;
    margin: auto;
}
</style>
<div id="ppanel" class="library">
    <h3>{% trans "Media library" %}</h3>
    
    {% spaceless %}
    <h4>{% trans "Images" %}</h4>
    <div class="library-items library-images">
    {% for img in images %}
        <img class="djaloha-thumbnail" src="{{ img.as_thumbnail.url }}" title="{{img.name}}" rel="{{img.file.url}}">
    {% endfor %}
    </div>
    {% endspaceless %}
    
    {% spaceless %}
    <div class="library-items library-docs">
    <h4>{% trans "Documents" %}</h4>
    {% for doc in documents %}
        <a class="djaloha-document"><img src="{{ doc.get_ico_url }}" title="{{doc.name}}" rel="{{doc.file.url}}"></a>
    {% endfor %}
    </div>
    {% endspaceless %}
</div>