

<span class="date">
<span class="day">{{ event.next_occurrence.start_time|date:"j" }}</span>
<span class="month">{{ event.next_occurrence.start_time|date:"F" }}</span>
</span>

<h3>{{ event.title }}</h3>

<p>{{ event.description|linebreaks }}</p>


    {% if event.occurrence_set.count %}
    <ul>
        {% for o in event.occurrence_set.all %}
        <li>
            {{ o.start_time|date:"j F Y à H\hi" }} → {{ o.end_time|date:"j F Y à H\hi" }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}


{% if event.organization %}
    <div class="event_org">Organisateur : <a href="{{ event.organization.get_absolute_url }}">{{ event.organization }}</a></div>
{% endif %}


{% if event.location %}

    <img src="http://maps.googleapis.com/maps/api/staticmap?markers=size:small%7Ccolor:0xd1453e|{{event.location.point.get_coords.1|stringformat:"f"}},{{event.location.point.get_coords.0|stringformat:"f"}}|&amp;maptype=hybrid&amp;size=280x200&amp;sensor=false&amp;zoom=7">

{% endif %}