{% extends "base.html" %}
{% block meta_title %}Cartographie{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
{% endblock %}


{% block document %}
<div id="title" class="grid_12 grid">
{% block title %}<h3>Cartographie</h3>{% endblock %}


</div>
{% block content %}
<div id="content">
    <div class="grid_12 grid">

    <div id="leaflet_map" style="width: 920px; height: 500px"></div>
    <script src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
    <script src="https://raw.github.com/ideak/leafclusterer/master/leafclusterer.js"></script>
    <script type="text/javascript">

        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        var centre = new L.LatLng({{ center.y }}, {{ center.x }});
        var map = new L.Map('leaflet_map');
        map.setView(centre, 8).addLayer(cloudmade);

        var geojsonFeature = {{ region.polygon.geojson|safe }}
        L.geoJson(geojsonFeature).addTo(map);


        var initParameters = window.location.search.substring(1);
        if (initParameters.length > 0) {
            console.log(initParameters)
        }


        $(function(){
            var clusterer = new LeafClusterer(map);
            $.getJSON('/geojson/organization/?'+initParameters, function(data) {

                var orgJsonLayer = new L.geoJson(data, {
                    // style for all vector layers (color, opacity, etc.), either function or object (optional)
                    style: function (feature) {
                            return feature.properties && feature.properties.style;
                    },

                    pointToLayer: function (feature, latlng) {
                        marker = new L.Marker(latlng);
                        clusterer.addMarker(marker);
                        return marker;
                    },
                    // function that gets called on every created feature layer (optional)
                    onEachFeature: function (feature, layer) {

                    if (feature.properties && feature.properties.popupContent) {
                             layer.bindPopup(feature.properties.popupContent);
                         }
                   }

                }).addTo(map);

                map.fitBounds(orgJsonLayer.getBounds());


             });

        });




    </script>

    </div>
</div>
{% endblock %}
{% endblock %}

{% block footer%}
<a href="{{D2RQ_ROOT}}directory/initiative">
    <img border="0" align="left" src="{{STATIC_URL}}img/semweb.png"></a>
    <br/>
{% endblock %}


